<ion-header>
  <ion-toolbar>
    <ion-title>Scan barrecode</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <button ion-button (click)="scanBarcode()">
    Click me!
  </button>
  <ion-item >{{scannedData}}</ion-item>
</ion-content>
