.container1{
    background-color: #F6D59A;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}
.container1 ion-row{
    justify-content: center;
    align-content: center;
    align-items: center;
}
#logo{
    width: 70px;
}
#capture{
    width: 50px;
}
#produit{
    width: 120px;
}
ion-grid {
    padding: 0% 0% 0% 0%;
    border: 0px;
    margin: 0% 0% 0% 0%;
}
ion-fab-button {
    padding: 0% 0% 0% 0%;
    border: 0px;
    margin: 0% 0% 0% 0%;
}
ion-card {
    padding: 0% 0% 0% 0%;
    border: 0px;
    margin: 0% 0% 0% 0%;
    background-color: #F6D59A;
}

ion-input{
    width:200px!important;
    background-color: #f5f5f5;

}


button {
    width: 100px;
    height: 50px;
    border-radius: 8px;
}

.green {
    background-color: green;
}

.red {
    background-color: red;
}
