<ion-content [fullscreen]="true" >
  <ion-grid>
    <div class="container1">
    <ion-row>
      <ion-col>
        <ion-img src="../../assets/Logo_frigo.png" id="logo"></ion-img>
      </ion-col>
    </ion-row>
    </div>
    <div class="container1">
      <ion-row>
        <ion-col>
          <ion-input type="text" >Poulet, tomates</ion-input> 
        </ion-col>
        <ion-col>
          <ion-img src="../../assets/Capture.png" id="capture"></ion-img>
        </ion-col>
        <ion-col>
          <button 
            (click)="synchroUser()" 
            [ngClass]="{'green' : isSynchro, 'red': !isSynchro}">
            {{status}}
          </button>
          <!-- https://stackoverflow.com/questions/51716059/change-background-color-of-the-button-on-click -->
        </ion-col>
      </ion-row>
    </div>

    <ion-row>
      <ion-col  size="2.4" style="background-color: lightgrey;border: 1px solid;border-radius: 15px;" (click)="setchoixCategorie('Fruits')">
        <ion-img src="../../assets/fruits.png"></ion-img>
        <ion-item lines="none">Fruits</ion-item>
      </ion-col>
      <ion-col  size="2.4" (click)="setchoixCategorie('Conserves')">
        <ion-img src="../../assets/canned_food.png"></ion-img>
        <ion-item lines="none">Conserves</ion-item>
      </ion-col>
      <ion-col  size="2.4" (click)="setchoixCategorie('Sodas')">
        <ion-img src="../../assets/soft_drink.png"></ion-img>
        <ion-item lines="none">Sodas</ion-item>
      </ion-col>
      <ion-col  size="2.4" (click)="setchoixCategorie('Legumes')">
        <ion-img src="../../assets/vegetable.png"></ion-img>
        <ion-item lines="none">Légumes</ion-item>
      </ion-col>
      <ion-col  size="2.4" (click)="setchoixCategorie('Viandes')">
        <ion-img src="../../assets/meat.png"></ion-img>
        <ion-item lines="none">Viandes</ion-item>
      </ion-col>
    </ion-row>

    <ion-row> <!-- Nouvelle ligne dans <ion-grid> --> 
      <!-- Pacours de tous les ingrédient de l utilisateur --> 
      <ion-col size="4" *ngFor="let  i of choixingredients">
        <!-- <ion-card> affiche les données de manière plus organisée-->
        <!-- la taille est de 4/12 donc il y aura 3 <ion-card> par ligne -->
        <ion-card>
          <!-- <ion-fab> permet de disposer facilement des buttons sur le <ion-card> -->
          <ion-fab vertical="top" horizontal="start"  >
            <!-- Suprimer un ingredient de son frigo -->
            <ion-fab-button size="small" (click)="removeProduit(i.Id)"  >
              <ion-icon  name="trash"></ion-icon>
            </ion-fab-button>
            </ion-fab>
            <ion-fab vertical="top" horizontal="end" >
              <!-- affiche la quantite des son ingredient -->
              <ion-fab-button  size="small"   >
                <ion-label>{{ i.Quantite }}</ion-label>
              </ion-fab-button>
            </ion-fab>
            <ion-fab vertical="bottom" horizontal="start" >
              <!-- Ajoute 1 a la quantite de l ingredient -->
              <ion-fab-button  size="small" (click)="addQuantite(i.Nom)"  >
                <ion-icon  name="add"></ion-icon>
              </ion-fab-button>
            </ion-fab>
            <ion-fab vertical="bottom" horizontal="end" >
              <!-- Enleve 1 a la quantite de l ingredient -->
              <ion-fab-button  size="small" (click)="removeQuantite(i.Nom)"  >
                <ion-icon  name="remove"></ion-icon>
              </ion-fab-button>
            </ion-fab>
            <!-- affiche l image de l ingredient -->
            <ion-img src="../../assets/fruits.png" ></ion-img>
        </ion-card>
        <!-- affiche le nom de l ingredient -->
        <ion-item lines="none">{{i.Nom}}</ion-item>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>
