section{
    display: grid!important;
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: auto ;
    justify-items: center;
    align-items: center;
    height: 100%;
    
}

#container1{
    grid-column: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.line{
    grid-column: 2;
    background-color: black;
    height:70vh;
    width: 2px;
    align-self: center;
    border-radius: 1px;
}

#container2{
    grid-column: 3;
}

ion-input{
    width:200px!important;
    margin: 10px 0;
    background-color: #f5f5f5;

}

form{
    display: flex;
    flex-direction: column;

    justify-content:center;
}

label,ion-label{
    margin:0!important
}

.erreur_input{
 width: 200px;
 color:darkred
}

#pp{
    margin:  25px 0;
    width: 200px;
}

#passwordHelp:hover{
    color: #444444!important;
    cursor: pointer;
}


@media screen and (max-width: 700px) {

section{
        display: grid!important;
        grid-template-columns: auto 1fr auto;
        grid-template-rows: auto auto ;
        justify-items: center;
        align-items: center;
        height: auto;
        grid-row-gap:40px;
}
    
    
#container1{
    grid-column:2;
    grid-row: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.line{
    grid-column: 2;
    grid-row:2;
    background-color: black;
    height:2px;
    width: 50vw;
    align-self: center;
    border-radius: 1px;
}

#container2{
    grid-column: 2;
    grid-row: 3;
    padding-bottom: 50px;
}


}