<ion-content>
  <section>
    <div id="container1">
      <h2>Se connecter</h2>
      <!---->
      <ion-img src="../../assets/profile_picture.svg" id="pp"></ion-img>


      <form [formGroup]="auth_form" (ngSubmit)="auth(auth_form.value)">
        <ion-label>Prenom</ion-label>
        <ion-input type="text" formControlName="prenom"></ion-input>
        <div class="validation-errors">
          <ng-container *ngFor="let validation of validation_messages.prenom">
            <div *ngIf="auth_form.get('prenom').hasError(validation.type)
            && (auth_form.get('prenom').dirty 
            || auth_form.get('prenom').touched)">
              <p class="erreur_input">
                <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
              </p>
            </div>
          </ng-container>
        </div>

        <ion-label>mot de passe</ion-label>
        <ion-input type="password" formControlName="password"></ion-input>
        <div class="validation-errors">
          <ng-container *ngFor="let validation of validation_messages.password">
            <div *ngIf="auth_form.get('password').hasError(validation.type) 
            && (auth_form.get('password').dirty 
            || auth_form.get('password').touched)">
              <p class="erreur_input">
                <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
              </p>
            </div>
          </ng-container>
        </div>

        <ion-button color="primary" class="submit-btn" expand="block" type="submit" href="/"
          [disabled]="!auth_form.valid">Se connecter</ion-button>

      </form>
      <!-- Modal mot de passe oublié -->
      <small id="passwordHelp" class="form-text text-muted" (click)="open(content)">mot de passe oublié ?</small>

      <ng-template #content let-modal>
        <div class="modal-header">
          <h4 class="modal-title" id="modal-basic-title">Mot de passe oublié</h4>
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

          <!--
          <form [formGroup]="forgottenPassword_form" (ngSubmit)="sendForgottenPass(forgottenPassword_form.value)">
            <ion-label>Email</ion-label>
            <ion-input type="text" formControlName="email"></ion-input>
            <div class="validation-errors">
              <ng-container *ngFor="let validation of validation_messages.email">
                <div *ngIf="forgottenPassword_form.get('email').hasError(validation.type) 
                && (forgottenPassword_form.get('email').dirty 
                || forgottenPassword_form.get('email').touched)">
                  <p class="erreur_input">
                    <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
                  </p>
                </div>
              </ng-container>
            </div>

            <ion-button color="primary" class="submit-btn" expand="block" (click)="modal.close()" type="submit"
              [disabled]="!forgottenPassword_form.valid">envoyer</ion-button>

          </form>-->
        </div>



      </ng-template>

    </div>

    <!--
    <div class="line"></div>
    <div id="container2">
      <h2>S'inscrire</h2>
      
      <form [formGroup]="register_form" (ngSubmit)="register(register_form.value)">
        
        <ion-label >Nom</ion-label>
        <ion-input type="text" formControlName="name"></ion-input>
        <div class="validation-errors">
          <ng-container *ngFor="let validation of validation_messages.name">
            <div *ngIf="register_form.get('name').hasError(validation.type) 
            && (register_form.get('name').dirty 
            || register_form.get('name').touched)">
              <p class="erreur_input">
                <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
              </p>
            </div>
          </ng-container>
        </div>
        
        <ion-label>Prénom</ion-label>
        <ion-input type="text" formControlName="firstname"></ion-input>
        <div class="validation-errors">
          <ng-container *ngFor="let validation of validation_messages.firstname">
            <div   *ngIf="register_form.get('firstname').hasError(validation.type) 
            && (register_form.get('firstname').dirty 
            || register_form.get('firstname').touched)">
              <p class="erreur_input">
                <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
              </p>
            </div>
          </ng-container>
        </div>
        
        <ion-label>Email</ion-label>
        <ion-input type="text" formControlName="email"></ion-input>
        <div class="validation-errors">
          <ng-container *ngFor="let validation of validation_messages.email">
            <div   *ngIf="register_form.get('email').hasError(validation.type) 
            && (register_form.get('email').dirty 
            || register_form.get('email').touched)">
              <p class="erreur_input">
                <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
              </p>
            </div>
          </ng-container>
        </div>
        
        <div formGroupName="matching_passwords">
          <ion-label >mot de passe</ion-label>
          <ion-input type="password" formControlName="password"></ion-input>
          <div class="validation-errors">
            <ng-container *ngFor="let validation of validation_messages.password">
              <div   *ngIf="register_form.get('matching_passwords').get('password').hasError(validation.type) 
              && (register_form.get('matching_passwords').get('password').dirty 
              || register_form.get('matching_passwords').get('password').touched)">
              <p class="erreur_input">
                <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
              </p>
            </div>
          </ng-container>
        </div>
        
        
        <ion-label>Confirmer Mot de passe</ion-label><br/>
        <ion-input type="password" formControlName="confirm_password"></ion-input>
        <div class="validation-errors">
          <ng-container *ngFor="let validation of validation_messages.confirm_password">
            <div   *ngIf="register_form.get('matching_passwords').get('confirm_password').hasError(validation.type) 
            && (register_form.get('matching_passwords').get('confirm_password').dirty 
            || register_form.get('matching_passwords').get('confirm_password').touched)">
              <p class="erreur_input">
                <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
              </p>
            </div>
          </ng-container>
        </div>
      </div>
    -->
    <!-- validation form group matching -->
    <!--
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validation_messages.matching_passwords">
          <div   *ngIf="register_form.get('matching_passwords').hasError(validation.type) 
          && (register_form.get('matching_passwords').get('confirm_password').dirty 
          || register_form.get('matching_passwords').get('confirm_password').touched)">
            <p class="erreur_input">
              <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
            </p>
          </div>
        </ng-container>
      </div>
      
      <ion-button color="primary" class="submit-btn" expand="block" type="submit" [disabled]="!register_form.valid">S'inscrire</ion-button>
    </form>
  </div>-->
  </section>
</ion-content>